<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Register</title>
<style type="text/css">
#container { margin-top: 10px; margin-left: 10px;}
input { margin-bottom: 10px;}
label{
    display:inline-block;
    width:80px;
}
</style>
</head>

<body>
<h3>Welcome to Java2Days ticket lottery</h3>

<form method="post" action="/add" class="container">
    <label>Your name: </label><input name="username" type="text" /><br />
    <label>E-mail: </label><input name="email" type="text" /><br />
    <br />
    <input name="submit" type="submit" value="Register" />
</form>
</body>
</html>
